/* g fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap'); */
/* fonts */
:root {
  /* font family */
  /* --ffamily-primary: 'Work Sans', sans-serif; */
  /* --ffamily-primary: 'Poppins', sans-serif; */
  /* --ffamily-primary: 'Roboto', sans-serif; */
  --ffamily-primary: 'Open Sans', sans-serif;
  --ffamily-secondary: 'Source Code Pro', monospace;
}
:root {
  --clr-dark: #303030;
  --clr-light: #f8f8f8;

  /* --fs-body: 1rem; */
  /* --fw-reg: 300; */
  /* --fw-bold: 900; */

  --backdrop-color: rgba(255, 255, 255, 0.3);
}

html {
  scroll-behavior: smooth;
}

/* html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* *,
*::after,
*::before {
  box-sizing: border-box;
} */

body {
  background: #141414;
  color: #fff;
  font-family: var(--ff-primary);
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
  height: 100vh;
}

.backdrop-blur {
  background-color: var(--backdrop-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.container-custom {
  max-width: 30vw;
  margin: 7rem auto;
}
#cardBody,
#maturity {
  border-color: grey !important;
}

#editIconLink {
  top: 76%;
  left: 2%;
}
/* #profilePic img {
  min-width: 168px;
} */
#editIcon {
  background-color: #000;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* name and lingua */
input[type='text'] {
  background-color: rgb(102, 102, 102);
  border-color: unset;
  border-radius: 1px;
}

#name > input:focus {
  background-color: rgb(102, 102, 102);
  color: #fff;
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: unset;
}
#selectLanguage {
  width: 63px;
  height: 30px;
  background-color: #000;
  border-radius: 1px;
}

/* maturity settings */
.maturity-label {
  background-color: rgb(51, 51, 51);
  font-size: 0.8rem;
}

#maturity p:last-child {
  font-size: 0.2rem;
}

.custom-btn {
  color: grey;
  border-radius: 1px;
  transition: none;
}
.custom-btn:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

/* autoplay */
#autoplay h6 {
  color: #ccc;
}

/* custom checkbox */
#autoplay input[type='checkbox'] {
  /* visibility: hidden; */
  width: 30px;
  height: 30px;
}

#autoplay .form-check label {
  cursor: pointer;
}

/* card buttons */
.custom-btn.save {
  background-color: #fff;
  color: #141414;
}

.custom-btn.save:hover {
  background-color: #cc0000;
  color: #fff;
  border-color: #cc0000;
}

.color-grey {
  color: #ccc;
}

.small-f-size {
  font-size: 0.8vw;
}
